backend:
  name: git-gateway
  branch: main
publish_mode: editorial_workflow
locale: de
media_folder: static/uploads
public_folder: /uploads
collections:
  - name: artikel
    identifier_field: id
    label: Artikel
    folder: content/artikel
    create: true
    slug: "{{slug}}"
    fields:
      - { name: templateKey, widget: hidden, default: article, required: false }
      - {
          name: id,
          label: Eine eindeutige ID (z.B. Titel + Datum),
          widget: string,
        }
      - { name: category, label: Kategorie, widget: string }
      - { name: title, label: Titel, widget: string }
      - { name: teaser, label: Anreisser, widget: string }
      - { name: datetime, label: Zeitstempel, widget: datetime }
      - {
          name: pict,
          label: Bild,
          widget: image,
          allow_multiple: false,
          required: false,
        }
      - { name: author, label: Autor, widget: string }
      - { name: body, label: Inhalt, widget: markdown }
  - name: teasers
    identifier_field: id
    label: Artikelvorschauen
    label_singular: Artikelvorschau
    folder: content/teasers
    create: true
    fields:
      - { name: templateKey, widget: hidden, default: teaser, required: false }
      - { name: id, label: ID (eindeutig), widget: string }
      - { name: title, label: Titel, widget: string, required: false }
      - { name: teaserText, label: Vorschautext, widget: text, required: false }
      - {
          name: pic,
          label: Bild,
          widget: image,
          allow_multiple: false,
          required: false,
        }
      - {
          name: alt,
          label: Alt-Text (u.a. für Blinde),
          widget: string,
          required: false,
        }
      - {
          name: authorAndDate,
          label: Autor + Datum (für Artikel),
          widget: string,
          required: false,
        }
      - {
          name: quoteAuthor,
          label: Zitatautor,
          widget: string,
          required: false,
        }
      - { name: category, label: Kategorie, widget: string, required: false }
      - {
          name: show,
          label: Wo anzeigen,
          widget: select,
          options: ["Hauptartikel", "Spalte 1", "Spalte 2", "Spalte 3"],
          required: false,
        }
      - { name: ordering, lanel: Reihenfolge, widget: number, required: false }
  - name: eindruecke
    label: Eindrücke
    label_singular: Eindruck
    folder: content/eindruecke
    create: true
    fields:
      - {
          name: templateKey,
          widget: hidden,
          default: eindruck,
          required: false,
        }
      - { name: datetime, label: Zeitstempel, widget: datetime }
      - { name: title, label: Titel, widget: string }
      - { name: location, label: Ort, widget: string }
      - { name: event, label: Anlass, widget: string }
      - { name: date, label: Datum des Anlasses, widget: datetime }
      - { name: pic, label: Bild, widget: image, allow_multiple: false }
      - { name: alt, label: Alt-Text, widget: string }
