@import "./fonts/NotoSans/stylesheet.css";
@import "./fonts/NunitoSans/stylesheet.css";
@import "./fonts/Quicksand/stylesheet.css";

a {
  text-decoration: none;
  color: #888;
}

body {
  margin: 0;
  font-size: 2rem;
}

h1 {
  margin: 0.5em 0 1em 0;
}

h1,
h2,
h3 {
  font-family: "Nunito Sans";
}

html {
  background-color: #eee;
  font-family: "Noto Sans";
  font-size: 8px;
  line-height: 1.5;
}

p {
  margin: 0.5em 3em 1em 0;
}

.article__category {
  font-size: 3.23606rem;
  margin: 2em 0 0 0;
}

.article__main-image {
  width: 100%;
}

.article__teaser {
  font-size: 3.23606rem;
  margin-bottom: 1em;
}

.article-preview {
  margin: 0 auto;
}

.article-preview a {
  color: inherit;
  text-decoration: inherit;
}

.article-preview--main {
  margin-bottom: 2em;
  max-width: 600px;
  position: relative;
}

.article-preview--small {
  border: 0.2px solid #aaa;
  padding: 1em;
  margin-bottom: 1.5em;
}

.article-preview__author-and-date {
  font-family: "Nunito Sans";
  font-size: 1.23607rem;
  font-weight: 300;
  margin-top: 2em;
}

.article-preview__category {
  font-family: "Nunito Sans";
}

.article-preview__category--main {
  border: 0.2px solid #aaa;
  background-color: #fff;
  font-weight: 300;
  font-size: 90%;
  left: 0;
  letter-spacing: 0.2em;
  margin-right: auto;
  padding: 1.5rem 2.5rem;
  position: absolute;
  text-transform: uppercase;
  top: 0;
}

.article-preview__category--small {
  font-size: 1.23607rem;
  font-weight: 300;
  margin-bottom: 1em;
  text-transform: uppercase;
}

.article-preview__img {
  margin-top: 1em;
  max-width: 100%;
}

.article-preview__img--small {
  margin-top: 0.5em;
}

.article-preview__img-description {
  font-size: 1.23607rem;
  font-weight: 300;
  margin-top: 2em;
  text-align: end;
}

.article-preview__quote {
  text-align: center;
}

.article-preview__teaser {
  background-color: #fff;
  border: 0.2px solid #aaa;
  border-top-width: 0;
  padding: 1em;
}

.article-preview__teaser-text {
  letter-spacing: 0.05em;
  margin-top: 1em;
}

.article-preview__title {
  margin: 0 0 0.3em;
  line-height: 1.1;
}

.article-preview__quote-author {
  font-size: 1.23607rem;
  font-weight: 300;
  margin-top: 2em;
  text-align: end;
}

.header {
  grid-area: header;
}

.header__in-3-words {
  display: flex;
  justify-content: center;
  font-family: Quicksand;
  font-size: 3.23606rem;
  margin-top: 2em;
}

.impressions {
  display: flex;
  flex-wrap: wrap;
}

.impressions__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
}

.impressions__impression {
  flex: 1 1 30%;
  height: 250px;
  margin: 0 0.5em 0.5em 0;
  position: relative;
}

.impressions__impression:nth-of-type(9n - 8),
.impressions__impression:nth-of-type(9n - 6),
.impressions__impression:nth-of-type(9n - 4) {
  flex-basis: 33%;
}

.impressions__impression:nth-of-type(9n - 7),
.impressions__impression:nth-of-type(9n - 5),
.impressions__impression:nth-of-type(9n - 3) {
  flex-basis: 24%;
}

.impressions__impression:nth-of-type(9n - 2) {
  flex-basis: 31%;
}

.impressions__title {
  background-color: #0000;
  transition: all 0.2s ease-in-out;
  position: absolute;
  height: 100%;
  width: 100%;
  color: #fff0;
  letter-spacing: 1px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.impressions__impression:hover .impressions__title {
  background-color: #0008;
  color: #fff;
}

.layout__link {
  display: block;
  margin: 0 auto;
}

.layout__logo {
  max-width: 100%;
}

.main {
  grid-area: main;
  margin-top: 1em;
}

.main--article {
  max-width: 800px;
}

.main-navigation {
  border-top: 2px solid #888;
  display: flex;
  font-family: "Nunito Sans";
  justify-content: center;
}

.main-navigation__entry {
  color: #000;
  flex: auto 0 0;
  font-weight: 400;
  display: flex;
  justify-content: center;
  margin: 1.5em;
  text-transform: uppercase;
}

.main-navigation__entry--current {
  color: #58a8a5;
}

.preview-column {
  margin: 0 1em;
  max-width: 30%;
}

.preview-column:first-of-type {
  margin-left: 0;
}

.preview-column:last-of-type {
  margin-right: 0;
}

.preview-columns {
  display: flex;
}

.sidebar {
  grid-area: sidebar;
  margin: 7em 0 0 2em;
}

.sidebar--article {
  border-right: 2px solid #888;
  margin: 7em 1em auto 0;
  padding: 2em;
  text-align: end;
}

.sidebar__entry {
  padding-bottom: 0.8em;
}

.sidebar__img {
  max-width: 100%;
}

.wrapper {
  background-color: #fff;
  box-sizing: border-box;
  margin: 5em auto;
  max-width: 1400px;
  display: grid;
  grid-template-columns: 4fr 1fr;
  grid-template-areas:
    "header header"
    "main sidebar";
  padding: 0 2em;
  box-shadow: 0 0 5px #000;
}

.wrapper--article {
  grid-template-columns: 2fr 6fr;
  grid-template-areas:
    "header header"
    "sidebar main";
}

.wrapper--die-zeitschrift {
  background-color: #000;
  color: #fff;
  grid-template-columns: 4fr 6fr;
  grid-template-areas:
    "header header"
    "cover main";
}

.wrapper--die-zeitschrift a:not(.main-navigation__entry--current) {
  color: #ddd;
}

.wrapper--impressions {
  grid-template-areas:
    "header header"
    "main main";
}

.zeitschrift {
  margin: 3em;
}

.zeitschrift__subtitle {
  font-size: 3.23606rem;
  margin: 1em 0;
}

.zeitschrift-cta {
  color: #fff;
  display: block;
  text-decoration: none;
  margin: 0.4em 0;
}

.zeitschrift-cover {
  grid-area: cover;
  padding: 3em;
  max-width: 80%;
}

@media (max-width: 1400px) {
  .wrapper {
    margin: 0;
  }
}
