body {
  margin: 0;
  font-size: 2rem;
}

div,
p {
  font-family: sans-serif;
}

h1 {
  margin: 0.5em 0 1em 0;
}

html {
  font-size: 8px;
}

p {
  margin: 0.5em 3em 1em 0;
}

.article__category {
  font-size: 3.23606rem;
  margin: 2em 0 0 0;
}

.article__main-image {
  width: 100%;
}

.article__teaser {
  font-size: 3.23606rem;
  margin-bottom: 1em;
}

.article-preview {
  margin: 0 auto;
}

.article-preview a {
  color: inherit;
  text-decoration: inherit;
}

.article-preview--main {
  max-width: 600px;
  position: relative;
}

.article-preview--small {
  border: 1px solid #888;
  padding: 1em;
  margin-bottom: 1.5em;
}

.article-preview__author-and-date {
  color: #ccc;
  padding-bottom: 0.5rem;
  font-size: 1.23607rem;
}

.article-preview__category--main {
  border: 1px solid #888;
  background-color: #fff;
  left: 0;
  margin-right: auto;
  padding: 1rem 3.5rem;
  position: absolute;
  text-transform: uppercase;
  top: 0;
}

.article-preview__category--small {
  color: #bbb;
  text-transform: uppercase;
}

.article-preview__img {
  margin-top: 1em;
  max-width: 100%;
}

.article-preview__img-description {
  text-align: end;
}

.article-preview__teaser {
  background-color: #fff;
  border: 1px solid #888;
  max-width: 80%;
  margin: 0 auto;
  padding: 1em;
  transform: translateY(-3em);
}

.article-preview__title {
  margin: 0 0 0.3em;
}

.article-preview__quote-author {
  text-align: end;
}

.header {
  grid-area: header;
}

.layout__link {
  display: block;
  margin: 0 auto;
}

.layout__logo {
  max-width: 100%;
}

.main {
  grid-area: main;
  margin-top: 1em;
}

.preview-column {
  margin: 0 1em;
  max-width: 30%;
}

.preview-column:first-of-type {
  margin-left: 0;
}

.preview-column:last-of-type {
  margin-right: 0;
}

.preview-columns {
  display: flex;
}

.sidebar {
  grid-area: sidebar;
  margin: 7em 0 0 2em;
}

.sidebar__img {
  max-width: 100%;
}

.wrapper {
  margin: 0 auto;
  max-width: 900px;
  display: grid;
  grid-template-columns: 4fr 1fr;
  grid-template-areas:
    "header header"
    "main sidebar";
}

.wrapper--article {
  grid-template-columns: 1fr;
}
