a {
  text-decoration: none;
  color: #888;
}

body {
  margin: 0;
  font-size: 2rem;
}

div,
p {
  font-family: sans-serif;
}

h1 {
  margin: 0.5em 0 1em 0;
}

html {
  font-size: 8px;
  background-color: #eee;
}

p {
  margin: 0.5em 3em 1em 0;
}

.article__category {
  font-size: 3.23606rem;
  margin: 2em 0 0 0;
}

.article__main-image {
  width: 100%;
}

.article__teaser {
  font-size: 3.23606rem;
  margin-bottom: 1em;
}

.article-preview {
  margin: 0 auto;
}

.article-preview a {
  color: inherit;
  text-decoration: inherit;
}

.article-preview--main {
  max-width: 600px;
  position: relative;
}

.article-preview--small {
  border: 1px solid #888;
  padding: 1em;
  margin-bottom: 1.5em;
}

.article-preview__author-and-date {
  color: #ccc;
  padding-bottom: 0.5rem;
  font-size: 1.23607rem;
}

.article-preview__category--main {
  border: 1px solid #aaa;
  background-color: #fff;
  font-weight: 300;
  font-size: 90%;
  left: 0;
  letter-spacing: 0.2em;
  margin-right: auto;
  padding: 1.5rem 2.5rem;
  position: absolute;
  text-transform: uppercase;
  top: 0;
}

.article-preview__category--small {
  color: #bbb;
  text-transform: uppercase;
}

.article-preview__img {
  margin-top: 1em;
  max-width: 100%;
}

.article-preview__img-description {
  text-align: end;
}

.article-preview__teaser {
  background-color: #fff;
  border: 1px solid #888;
  max-width: 80%;
  margin: 0 auto;
  padding: 1em;
  transform: translateY(-3em);
}

.article-preview__title {
  margin: 0 0 0.3em;
}

.article-preview__quote-author {
  text-align: end;
}

.header {
  grid-area: header;
}

.header__in-3-words {
  display: flex;
  justify-content: center;
  font-size: 3.23606rem;
  margin-top: 2em;
}

.layout__link {
  display: block;
  margin: 0 auto;
}

.layout__logo {
  max-width: 100%;
}

.main {
  grid-area: main;
  margin-top: 1em;
}

.main-navigation {
  border-top: 2px solid #888;
  display: flex;
  justify-content: center;
}

.main-navigation__entry {
  color: #000;
  flex: auto 0 0;
  font-weight: 900;
  display: flex;
  justify-content: center;
  margin: 1.5em;
  text-transform: uppercase;
}

.preview-column {
  margin: 0 1em;
  max-width: 30%;
}

.preview-column:first-of-type {
  margin-left: 0;
}

.preview-column:last-of-type {
  margin-right: 0;
}

.preview-columns {
  display: flex;
}

.sidebar {
  grid-area: sidebar;
  margin: 7em 0 0 2em;
}

.sidebar--article {
  border-right: 2px solid #888;
  margin: 7em 1em auto 0;
  padding: 2em;
  text-align: end;
}

.sidebar__entry {
  padding-bottom: 0.8em;
}

.sidebar__img {
  max-width: 100%;
}

.wrapper {
  background-color: #fff;
  box-sizing: border-box;
  margin: 5em auto;
  max-width: 1400px;
  display: grid;
  grid-template-columns: 4fr 1fr;
  grid-template-areas:
    "header header"
    "main sidebar";
  padding: 0 2em;
  box-shadow: 0 0 5px #000;
}

.wrapper--article {
  grid-template-columns: 2fr 6fr;
  grid-template-areas:
    "header header"
    "sidebar main";
}

.wrapper--die-zeitschrift {
  background-color: #000;
  color: #fff;
  grid-template-columns: 4fr 6fr;
  grid-template-areas:
    "header header"
    "cover main";
}

.wrapper--die-zeitschrift a {
  color: #ddd;
}

.zeitschrift {
  margin: 3em;
}

.zeitschrift__subtitle {
  font-size: 3.23606rem;
  margin: 1em 0;
}

.zeitschrift-cta {
  color: #fff;
  display: block;
  text-decoration: none;
  margin: 0.4em 0;
}

.zeitschrift-cover {
  grid-area: cover;
  padding: 3em;
  max-width: 80%;
}

@media (max-width: 1400px) {
  .wrapper {
    margin: 0;
  }
}
